.centered {
    text-align: center;
    margin: 0 auto;
    position: relative;
}

h1.centered::after {
    content: "";
    position: absolute;
    top: 1.1em;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
}

div.data-box {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

div.item-image-box {
    max-width: 400px;
    max-height: 400px;
    margin-right: 10px;

    float: left;
}

img.item-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}

div.item-details-box {
    overflow: hidden;
    margin-left: 200px;
}